.btn-search{
    padding : 8px;
    color : white;
    background : black;
    border-radius: 10px;
    font-size:10;
}
.search-box{
    margin-top : 20px;
    margin-left: 40%;
}


#search{
    margin:10px;
    padding: 8px;
    width : 300px;
    height: 20px;
    font-size:10;
    border-radius: 10px;
}